@model EmployeeDTO

<div>
    <div class="alert alert-danger" role="alert">
        Are you sure you want to delete this entry?
    </div>
</div>

<div class="container">
    <div class="row">
        <div>
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    @Model.FullName
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Phone: @Model.PhoneNumber</li>
                    <li class="list-group-item">Email: @Model.Email</li>
                    <li class="list-group-item">Birthday: @Model.DateOfBirth.ToString("dddd, dd MMMM yyyy")</li>
                    <li class="list-group-item">Salary: @Model.Salary</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="card-body">
    <form method="post">
        <input class="btn btn-danger" type="submit" value="Delete" />
    </form>
</div>
